.category-image {
    display: inline-block;
    width: 50px !important;
    height: 50px !important;
    transition: 0.2s;
}

    .category-image img {
        width: 100%;
        height: 100%;
    }

    .category-image:hover {
        transform: scale(1.1);
    }

.category-image-active {
    border: 2px solid var(--accent);
    border-radius: 7px;
    border-style: dashed;
}

.category-type-image {
    height: 70px;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    transition: 0.2s;
}

category-type:hover, .category-type-active {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
