@{
    ViewData["Title"] = "Home Page";
}

<style>
    .page-content {
        font-family: 'Open Sans', sans-serif;
    }

    .index-title {
        text-align: center;
        text-transform: uppercase;
    }

    img {
        width: 100%;
    }
</style>

<div class="index-title">
    <div style="font-weight: 600">Welcome to</div>
    <div class="fs-9" style="font-weight: 900; line-height: 0.7">Cash<span class="text-accent">Overflow</span></div>
</div>

<div class="row align-items-center justify-content-center mt-5">
    <div class="col-12 col-sm-6">
        <img src="http://ivanpetrov.eu/CashOverflow/Resources/business.png" alt="Alternate Text" />
    </div>
    <div class="col-12 col-sm-6">
        <p class="fs-3" style="font-weight: 600">
            The #1 website for tracking your budget!
        </p>
        <p>
            Using this app will help you better understand where your money goes. You will:
            <ul>
                <li>Reduce unwanted spending</li>
                <li>Recieve useful analytics</li>
                <li>See where you spend more or less</li>
                <li>See where your income comes from</li>
                <li>Be able to create to-dos and notes, helping you become more organised</li>
                <li>Have access to a map that shows you the location where you made your transactions</li>
                <li>Have a calendar that shows you a summary of all the income, expenses and tasks for every day of the month</li>
            </ul>
        </p>
        <p class="fs-1">
            <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by freepik - www.freepik.com</a>
        </p>
    </div>
</div>

