/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    position: relative;
    min-height: 100%;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Hide input type number up and down arrows */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.box-shadow-small {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.fs-1 {
    font-size: 0.6rem;
}

.fs-2 {
    font-size: 0.8rem;
}

.fs-3 {
    font-size: 1.2rem;
}

.fs-4 {
    font-size: 1.4rem;
}

.fs-5 {
    font-size: 1.6rem;
}

.fs-6 {
    font-size: 1.8rem;
}

.fs-7 {
    font-size: 2rem;
}

.fs-8 {
    font-size: 2.5rem;
}

.fs-9 {
    font-size: 3rem;
}

a.no-style {
    color: #000000 !important;
    text-decoration: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-circle {
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.btn-float {
    position: fixed;
    right: 40px;
    bottom: 90px;
    z-index: 100;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-unset {
    cursor: unset !important;
}



/* TODO: When max-width is smaller make category image smaller */


body {
    /*--accent-color: #FED766;*/
    /*--dark-color: #333333;
    --light-color: #F7F2EA;*/
    /*--text-color: #2B2429;*/
    --accent-color: #9663b0;
    --text-color: #464743;
    --background-color: rgb(246, 245, 246);


    color: var(--text-color);
    background: var(--background-color);
}

a {
    text-decoration: none !important;
}








/*
    -----------
    Page Layout
    -----------
*/



    .page-wrapper {
        height: 100vh;
    }

    .page-content {
        width: 100%;
        transition: 0.3s;
    }

    /*
        Sidenav
    */

    .page-wrapper.toggled .sidenav-wrapper {
        left: 0px;
    }

    .page-wrapper.toggled #open-sidenav {
        left: -40px;
    }

    @media screen and (min-width: 992px) {
        .page-wrapper.toggled .page-content {
            padding-left: 300px !important;
        }
    }

    #open-sidenav {
        position: fixed;
        left: 0;
        top: 10px;
        border-radius: 0 4px 4px 0px;
        width: 35px;
        /*transition-delay: 0.3s;*/
    }

    #close-sidenav {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .sidenav-wrapper {
        position: fixed;
        top: 0;
        left: -260px;
        height: 100%;
        width: 260px;
        overflow-x: hidden;
        z-index: 1;
        transition: 0.3s;
        background: white;
        box-shadow: 2px 0px 9px rgba(0,0,0,.04);
    }

    .sidenav-item {
        padding: 20px;
    }

        .sidenav-item .title {
            padding: 10px 0;
            font-weight: 800;
        }

    /*
        Anchor Tags
    */

    .sidenav-brand a, .sidenav-menu a, .sidenav-profile a {
        color: var(--text-color);
    }

    /*
        Brand
    */

    .sidenav-brand .cash {
        font-weight: 400;
    }

    .sidenav-brand .overflow {
        font-weight: 900;
        color: var(--accent-color);
    }

    /*
        Menus
    */

    .sidenav-menu {
        font-size: 0.8rem;
    }

        .sidenav-menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .sidenav-menu ul li {
                padding: 10px 0;
                cursor: pointer;
                transition: 0.3s;
            }


                .sidenav-menu ul li:hover {
                    transform: translate(10px);
                }

                .sidenav-menu ul li.title {
                    cursor: initial;
                }

                    .sidenav-menu ul li.title:hover {
                        transform: translate(0px);
                    }

                .sidenav-menu ul li .icon {
                    width: 20px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 16px;
                }


    /*
        Profile
    */

    .sidenav-profile {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
    }

    .sidenav-profile .user-image {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .sidenav-profile .user-name {

    }

    .sidenav-profile .user-title {
        font-size: 0.8rem;
    }

    /*
        Footer
    */

    .sidenav-footer {
        font-size: 0.8rem;
    }













/*
    Custom List
*/

.custom-list-group {
}

.custom-list-group-key {
    font-weight: 300;
}

.custom-list-group-item {
    border-radius: 6px !important;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.custom-list-group-item-wrapper {
    padding: 0 0.5rem;
}

/*
    Custom Card
*/

.custom-card {
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    margin: 1rem 0;
}

.custom-card-header {
    padding: 0.85rem 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.custom-card-header-non-interactive {
    cursor: initial;
    display: block;
}

.custom-card-header-title {
}

    .custom-card-header-title .form-control {
        margin: 3px 0 0 0;
        /*font-weight: 300;*/
        font-size: 1.2rem;
        padding: 0;
        border: none;
    }

.custom-card-header-arrow {
    margin-left: auto;
}

.custom-card-header-maintitle {
    font-size: 1.0rem;
    font-weight: bold;
}

    .custom-card-header-maintitle.regular {
        font-weight: normal;
    }

.custom-card-header-subtitle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.75rem;
    color: #767676;
}

    .custom-card-header-subtitle.regular {
        font-weight: normal;
        text-transform: none;
        font-weight: normal;
        font-size: 0.85rem;
        color: #212529;
    }

.custom-card-body {
    padding: 0.85rem 1.25rem;
    border-top: 1px solid #ebebeb;
}
